# Игнорируем node_modules (если Node.js проект)
node_modules/

# Игнорируем папку сборки / дистрибутивы
dist/
build/

# Игнорируем временные файлы редакторов
*.log
*.tmp
*.swp

# Игнорируем систему контроля версий IDE
.vscode/
.idea/

# Игнорируем конкретную папку, которую не хотим в Git
eslint-typescript/